---
---
<main class="bg-black w-full flex flex-col gap-4">
  <p class="text-white text-3xl font-extrabold font-sans py-4">hi, im jass</p>
  <p>
    fullstack web/app dev, dabbling in web3. spent lot of my time in web and blockchain stuff.
    <br/>
    im into bleeding edge tech and always learning something new.
  </p>
  <p>
    i also think low-level systems & dev tools are cool. workin' on myself to work on 'em.
  </p>
  <p>
    when im not coding, im probably getting lost in a good game world or the real one.
  </p>
</main>
