---
const today = new Date();
---

<footer class="w-full h-[20%] flex flex-col gap-4 justify-center items-center bg-black text-white p-8">
  <p class="text-gray-400">
    &copy; {today.getFullYear()} jass
  </p>
</footer>
