---
---
<section class="bg-black h-[50%] w-full flex flex-col gap-4">
  <p class="text-white text-2xl font-extrabold font-sans py-4">projects</p>
  <p>
    everything is on my <a class="underline font-bold hover:text-white" href="https://www.github.com/jassuwu">github</a>
  </p>
  <p>
    couple of notable ones are:
  </p>
  <ul class="list-disc px-5">
    <li><a class="underline font-bold hover:text-white" target="_blank" href="https://www.github.com/jassuwu/psgoogle">psgoogle</a> - a <em>fast</em> search engine for my college's website psgtech.edu. rewrote the previous slow backend to make it actually viable. <a target="_blank" href="https://raw.githubusercontent.com/jassuwu/scrape-psgtech/main/repoassets/caching_diff.png" class="underline italic font-medium hover:text-white">actually went overboard with it. </a></li>
    <li><a class="underline font-bold hover:text-white" target="_blank" href="https://www.github.com/jassuwu/kaching">kaching</a> - a prototype payment gateway for receiving payments with cryptocurrency. kinda like "Stripe for web3". ironing out some existing issues and exploring various ideas with this one.</li>
  </ul>
</section>
